div{
    height: 100px;
    width: 100px;

    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top: 200px;
    left: 100px;
    /* animation-name: colorAnimate;    
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */

    animation: colorAnimate 5s ease-in 0s infinite alternate;

     
    
}

@keyframes colorAnimate{
    0% {
         left:0px;
        background-color: yellow;
        }

        50%{
            background-color: green;
        }
    100%{
        left : 900px;
    background-color: blue;}
}